<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template::areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>
        .btn{
            font-weight: 600;
        }
    </style>
</head>
<body>
<main class="col-12 mt-5">
    <h4>Job list</h4>
    <div class="row">
        <div class="col-4 input-group mb-3" style="width:33.33333333% ">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2" style="background: none; border-top:1px solid #ced4da;border-right:1px solid #ced4da;border-bottom:1px solid #ced4da;border-left:none  ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>

        <div class="col-4 input-group mb-3" style="width:33.33333333% ">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Status</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
            <button class="btn ms-5" style="background: #e1dfdf;font-weight: 600">Search</button>

        </div>

        <div class="col-12 d-flex mb-3" style="justify-content: flex-end;">
            <button class="btn" style="background: #e1dfdf;padding: 7px 30px;font-weight: 600">Add new</button>

        </div>

    </div>
    <table class="table table-striped">
        <thead style="background: #EEF1DF">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Current Position</th>
                <th>Owner HR</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="candidate : ${candidates}">
                <td th:text="${candidate.fullName}"></td>
                <td th:text="${candidate.email}"></td>
                <td th:text="${candidate.phone}"></td>
                <td th:text="${candidate.currentPosition}"></td>
                <td th:text="${candidate.fullName}"></td>
                <td th:text="${candidate.status}"></td>
                <td class="d-flex justify-content-center">
                    <a href="">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <a href="" class="ms-2 me-2">
                        <i class="fa-solid fa-file-pen"></i>
                    </a>

                    <a href="">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
</main>
</body>
</html>