<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template::areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>

    </style>
</head>
<body>
<main class="col-12 mt-5">
    <h4>Job Create</h4>
    <form method="post" style="background: #f1f6fb" class="pt-3 pb-3 row">
        <h4 style="font-size: 18px">I. Personal information</h4>
        <div class="col-6 mt-3">
        <label >Full name <span style="color: red">*</span> </label>
        <input type="text" name="" id="" placeholder="Type a title..." style="border: none;width: 75%;margin-left: 27px" >
        </div>
        <div class="col-6 ps-3 mt-3">
            <label >Email <span style="color: red">*</span> </label>
            <input type="text" name="" id="" placeholder="Type an email..." style="border: none;width: 75%" class="ms-5">

        </div>



        <div class="col-6 mt-3">
            <label >D.O.B <span style="color: red">*</span> </label>
            <input type="date" name="" id="" placeholder="DD/MM/YYYY" style="border: none;width: 75%;margin-left: 53px">
        </div>
        <div class="col-6 ps-3 mt-3">
            <label >Adress </label>
            <input type="text" name="" id="" placeholder="Type a address..." style="border: none;width: 75%;margin-left: 48px" >


        </div>

        <div class="col-6 mt-3">
            <label class="">Phone Number</label>
            <input type="text" name="" id="" placeholder="Type a number..." style="border: none;width: 75%;margin-left: 0px">

        </div>
        <div class="col-6 mt-3">
            <label >Gender <span style="color: red">*</span> </label>
<!--            <input type="text" name="" id="" placeholder="Type a title" >-->
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 37px">
                <option checked>Select a gender</option>

                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Other...</option>


            </select>
        </div>
        <h4 class="mt-5" style="font-size: 18px">II. Professional information</h4>

        <div class="col-6  mt-3 d-flex" style="width: 50%">
            <label>CV attachment</label>

            <input type="text" class="form-control" id="inputGroupFile01" style="border: none;padding: 0px 0px;width: 75%;margin-left: 5px">
            <label class="input-group-text" for="inputGroupFile01" style="background: white;border: none" typeof="file" >
                <i class="fa-solid fa-link"></i>
            </label>
        </div>
        <div class="col-6 ps-3 mt-3">
            <label >Note <span style="color: red">*</span> </label>
            <input type="text" name="" id="" placeholder="N/A" style="border: none;width: 75%" class="ms-5">

        </div>



        <div class="col-6 mt-3">
            <label >Position <span style="color: red">*</span> </label>
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 27px">
                <option checked>Select a position... ex Backend developer,...</option>

                <option value="">Business Analyst</option>
                <option value="">Backend Develope</option>
                <option value="">Tester</option>
                <option value="">HR</option>
                <option value="">Project manager</option>
                <option value="">Not available</option>



            </select>        </div>
        <div class="col-6 ps-3 mt-3">
            <label >Status <span style="color: red">*</span>    </label>
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 37px">
                <option checked>Select a status</option>

                <option value="">Checked</option>
                <option value="">false</option>




            </select>

        </div>

        <div class="col-6 mt-3">
            <label >Skills <span style="color: red">*</span> </label>
            <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 40px" >
                <option checked>...</option>

                <option value="">Java</option>
                <option value="">Nodejs</option>
                <option value="">.net</option>
                <option value="">C++</option>
                <option value="">Business analysis</option>
                <option value="">Communication</option>


            </select>

        </div>
        <div class="col-6 mt-3">
            <label >Year of Experience</label>
            <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
            <input type="number" name="" id="" placeholder="N/A" style="border: none;width: 75%" class="ms-5">

        </div>

        <div class="col-6 mt-3">
            <label >Recruiter <span style="color: red">*</span> </label>
            <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 40px" >
                <option checked>Recruiter name</option>

                <option value="">Java</option>
                <option value="">Nodejs</option>
                <option value="">.net</option>
                <option value="">C++</option>
                <option value="">Business analysis</option>
                <option value="">Communication</option>


            </select>

        </div>
        <div class="col-6 mt-3">
            <label >Highest level  <span style="color: red">*</span> </label>
            <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
            <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 40px" >
                <option checked>Select highest level...</option>

                <option value="">Java</option>
                <option value="">Nodejs</option>
                <option value="">.net</option>
                <option value="">C++</option>
                <option value="">Business analysis</option>
                <option value="">Communication</option>


            </select>

        </div>


        <div style="margin-top: 150px;margin-bottom: 50px" class="d-flex justify-content-center">
            <button class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600">Submit</button>
            <button class="btn ms-5 ps-4 pe-4   " style="background: #e1dfdf;font-weight: 600">Cancel</button>

        </div>
    </form>
</main>
</body>
</html>