<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"

      th:include="~{layout/template::areas(~{::title}, ~{::main}, @{/css/candidate.css},@{/js/candidate.js})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>

</head>
<body>
<main class="col-12 mt-5">
    <h1>Candidate</h1>
    <p><i>Candidate List</i></p>

    <form th:action="@{/candidates/list}" class="formSearch" method="GET">
        <input name="keyword"
               class="search"
               type="search"
               th:value="${keyword}"
               placeholder="Name,email,phone...">
        <i class="fa-solid fa-magnifying-glass"></i>

        <input class="btn-search" type="submit" value="Search">
    </form>

    <a  sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" class="btn-add-interview" th:href="@{/candidates/create}">Add new</a>
    <table class="table table-striped">
        <thead >
        <th>Name</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Current Position</th>
        <th>Owner HR</th>
        <th>Status</th>
        <th class="text-center">Action</th>
        </thead>

        <tbody>
        <tr th:each="candidate : ${candidates.content}">
            <td th:text="${candidate.fullname}"></td>
            <td th:text="${candidate.email}"></td>
            <td th:text="${candidate.phone}"></td>
            <td th:text="${candidate.position.displayName}"></td>
            <td th:text="${candidate.recruiter != null ? candidate.recruiter.userName : 'No Role'}"></td>
            <td th:text="${candidate.status.displayName}"></td>

            <td class="d-flex justify-content-center">
                <a th:href="@{/candidates/detail/{id}(id=${candidate.candidateId})}">
                    <i class="fa-regular fa-eye"></i>
                </a>

                <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" th:href="@{/candidates/edit/{id}(id=${candidate.candidateId})}" class="ms-3">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>

                <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" th:href="@{/candidates/delete/{id}(id=${candidate.candidateId})}" class="ms-3">
                    <i class="fa-regular fa-trash-can"></i>
                </a>

            </td>

        </tr>

        </tbody>

    </table>

    <div class="row">
        <nav class="d-flex justify-content-end align-items-baseline">
            <span th:text="${candidates.numberOfElements + (candidates.number * candidates.size) } + '/' + ${candidates.totalElements} + ' rows'"></span>
            <ul class="pagination">
                <!-- Previous button -->
                <!--               -->
                <li  th:if="${candidates.hasPrevious()}" class="page-item p-0">
                    <a class="page-link border-0" th:href="@{/candidates/list(page=${candidates.getNumber()})}">
                        <i class="fa-solid fa-chevron-left " style="color: #000000;"></i>
                    </a>
                </li>

                <!-- Next button -->
                <!--                -->
                <li th:if="${candidates.hasNext()}" class="page-item p-0">
                    <a class="page-link border-0 " th:href="@{/candidates/list(page=${candidates.getNumber() + 2})}">
                        <i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</main>
</body>
</html>