<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/template::areas(~{::title},~{::main},@{/css/candidate2.css},@{/js/candidate.js})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<main class="col-12 mt-5">

    <div class="mb-4">
        <h1>Candidate Create</h1>
        <a th:href="@{/candidates/list}">Candidate List</a>
        <i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
        <span><i class="ps-3">Create Candidate</i></span>
    </div>

    <form th:action="@{/candidates/addNew}" th:object="${candidate}" method="post" style="background: #f1f6fb" class="pt-3 pb-3 row">
        <h4 style="font-size: 18px">I. Personal information</h4>
        <input type="hidden"  th:field="*{candidateId}"/>

        <div class="col-6 mt-3">
            <label >Full name <span style="color: red">*</span> </label>
            <input type="text" th:field="*{fullname}" placeholder="Type a title..." style="border: none;width: 65%;margin-left: 29px" >
            <div class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" style="margin-left: 105px"></div>
        </div>
        <div class="col-6 ps-3 mt-3">
            <label >Email <span style="color: red">*</span> </label>
            <input type="email" th:field="*{email}" placeholder="Type an email..." style="border: none;width: 65%;margin-left: 83px">
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="margin-left: 130px"></div>
        </div>

        <div class="col-6 mt-3">
            <label>D.O.B</label>
            <input type="date" th:field="*{dob}" style="border: none;width: 65%;margin-left: 53px">
            <div class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
        </div>

        <div class="col-6 ps-3 mt-3">
            <label >Address</label>
            <input type="text" th:field="*{address}" placeholder="Type a address..." style="border: none;width: 65%;margin-left: 83px" >
        </div>

        <div class="col-6 mt-3">
            <label class="">Phone Number</label>
            <input type="text" th:field="*{phone}" placeholder="Type a number..." style="border: none;width: 65%;margin-left: 7px">
            <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
        </div>

        <div class="col-6 mt-3">
            <label >Gender</label>
            <select th:field="*{gender}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 75px">
                <option value="">Select a gender </option>
                <option th:each="gender : ${T(fa.training.enums.Gender).values()}"
                        th:value="${gender}"
                        th:text="${gender.displayName}">Level</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="margin-left: 135px"></div>
        </div>

        <h4 class="mt-5" style="font-size: 18px">II. Professional information</h4>

        <div class="col-6  mt-3 " style="width: 50%">
            <label >Highest level<span style="color: red">*</span> </label>
            <select th:field="*{highestLevel}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 44px" >
                <option value="">Select a highest level </option>
                <option th:each="level : ${T(fa.training.enums.HighestLevel).values()}"
                        th:value="${level}"
                        th:text="${level.displayName}">Level</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('highestLevel')}" th:errors="*{highestLevel}" style="margin-left: 135px"></div>
        </div>

        <div class="col-6 ps-3 mt-3">
            <label >Note</label>
            <textarea th:field="*{note}" placeholder="N/A" style="border: none;width: 65%;margin-left: 90px" ></textarea>

        </div>

        <div class="col-6 mt-3">
            <label >Position <span style="color: red">*</span></label>
            <select th:field="*{position}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 43px">
                <option value="">Select a position </option>
                <option th:each="position : ${T(fa.training.enums.CurrentPosition).values()}"
                        th:value="${position}"
                        th:text="${position.displayName}">Position</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></div>
        </div>

        <div class="col-6 ps-3 mt-3">
            <label >Status</label>
            <select th:field="*{status}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 80px">
                <option th:each="status : ${T(fa.training.enums.Status).values()}"
                th:value="${status}"
                th:text="${status.displayName}">Status</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
        </div>

        <div class="col-6 mt-3">
            <label>Skills<span style="color: red">*</span> </label>
            <select id="skillSelectTag" th:field="*{skills}" class="form-control" style="border: none;width: 65%;padding: 8px 0px;margin-left: 60px" multiple>
                <option th:each="skill : ${T(fa.training.enums.Skills).values()}"
                        th:value="${skill}"
                        th:text="${skill.displayName}"
                        th:selected="${candidate.skills.contains(skill)}">Skill</option>
            </select>
            <div>
                <span th:if="${#fields.hasErrors('skills')}" th:errorclass="error" th:errors="*{skills}"></span>
            </div>

        </div>

        <div class="col-6 mt-3">
            <label >Year of Experience</label>
            <input type="number" th:field="*{yearOfExp}" placeholder="N/A" style="border: none;width: 65%" class="ms-3">
            <div class="text-danger" th:if="${#fields.hasErrors('yearOfExp')}" th:errors="*{yearOfExp}"></div>
        </div>

        <div class="col-6 mt-3">
            <label>Recruiter owner <span style="color: red">*</span></label>
                <select th:field="*{recruiter.userId}" class="form-control" style="margin-top: -31px;border: none;width: 63%;padding: 8px 0px;margin-left: 130px">
                    <option value=""  selected>Select recruiter ...</option>
                    <option th:each="recruiter : ${recruiters}"
                            th:value="${recruiter.id}"
                            th:text="${recruiter.name}"
                    ></option>
                </select>
                <div>
                    <span th:if="${#fields.hasErrors('recruiter')}" th:errorclass="error" th:errors="*{recruiter}"></span>
                </div>

            <div >
                <a href="#" id="assignLink" class="ms-5 mb-3 input-left"
                   th:attr="data-user-id=${#authentication.principal.userDB.userId}">Assign me</a>
            </div>
        </div>

        <div style="margin-top: 150px;margin-bottom: 50px" class="d-flex justify-content-center">
            <button sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600">Submit</button>
            <a th:href="@{/candidates/list}" class="btn ms-5 ps-4 pe-4   " style="background: #e1dfdf;font-weight: 600">Cancel</a>
        </div>
    </form>
</main>
</body>
</html>