<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template::areas(~{::title},~{::main},@{/css/candidate.css},@{/js/candidate.js})}">
<head>
  <meta charset="UTF-8">
  <title>Edit Candidate</title>
  <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
<main class="col-12 mt-5">
  <h4>Edit Candidate</h4>
  <form th:action="@{/candidates/edit/{id}(id=${candidate.candidateId})}" th:object="${candidate}" method="post" style="background: #f1f6fb" class="pt-3 pb-3 row">
    <h4 style="font-size: 18px">I. Personal information</h4>
    <input type="hidden"  th:field="*{candidateId}"/>

    <div class="col-6 mt-3">
      <label >Full name <span style="color: red">*</span> </label>
      <input type="text" th:field="*{fullname}" placeholder="Type a title..." style="border: none;width: 65%;margin-left: 29px" >
      <div class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
    </div>

    <div class="col-6 ps-3 mt-3">
      <label >Email <span style="color: red">*</span> </label>
      <input type="email" th:field="*{email}" placeholder="Type an email..." style="border: none;width: 65%;margin-left: 83px">
      <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div class="col-6 mt-3">
      <label>D.O.B</label>
      <input type="date" th:field="*{dob}" style="border: none;width: 65%;margin-left: 53px">
      <div class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
    </div>

    <div class="col-6 ps-3 mt-3">
      <label >Adress</label>
      <input type="text" th:field="*{address}" placeholder="Type a address..." style="border: none;width: 65%;margin-left: 83px" >
    </div>

    <div class="col-6 mt-3">
      <label class="">Phone Number</label>
      <input type="text" th:field="*{phone}" placeholder="Type a number..." style="border: none;width: 65%;margin-left: 7px">
      <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>
    <div class="col-6 mt-3">
      <label >Gender <span style="color: red">*</span> </label>
      <select th:field="*{gender}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 75px">
        <option value="true">Male</option>
        <option value="false">Female</option>
        <option value="">Other...</option>
      </select>
    </div>
    <h4 class="mt-5" style="font-size: 18px">II. Professional information</h4>

<!--    <div class="col-6  mt-3 " style="width: 50%">-->
<!--      <label>CV attachment</label>-->
<!--      <input type="file" th:field="*{attachment}" id="file-input" style="display: none">-->
<!--      <label for="file-input" class="ms-3">-->
<!--        <i class="fa fa-paperclip fa-2x" style="font-size: 22px"></i>-->
<!--        <span></span>-->
<!--      </label>-->
<!--      <i class="fa fa-times-circle remove"></i>-->
<!--    </div>-->


    <div class="col-6 ps-3 mt-3">
      <label >Note</label>
      <textarea th:field="*{note}" placeholder="N/A" style="border: none;width: 65%;margin-left: 90px" ></textarea>

    </div>

    <div class="col-6 mt-3">
      <label >Position <span style="color: red">*</span> </label>
      <select th:field="*{position}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 43px">
        <option th:each="position : ${T(fa.training.enums.CurrentPosition).values()}"
                th:value="${position}"
                th:text="${position.displayName}">Position</option>
      </select>
    </div>

    <div class="col-6 ps-3 mt-3">
      <label >Status <span style="color: red">*</span>    </label>
      <select th:field="*{status}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 80px">
        <option th:each="status : ${T(fa.training.enums.Status).values()}"
                th:value="${status}"
                th:text="${status.displayName}">Status</option>
      </select>
      <div class="text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
    </div>

    <div class="col-6 mt-3">
      <label>Skills <span style="color: red">*</span></label>
      <select id="skillSelectTag" th:field="*{skills}" class="form-control" style="border: none;width: 65%;padding: 8px 0px;margin-left: 60px" multiple>
        <option th:each="skill : ${T(fa.training.enums.Skills).values()}"
                th:value="${skill}"
                th:text="${skill.displayName}"
                th:selected="${candidate.skills.contains(skill)}">Skill</option>
      </select>
      <div class="text-danger" th:if="${#fields.hasErrors('skills')}" th:errors="*{skills}"></div>
    </div>

    <div class="col-6 mt-3">
      <label >Year of Experience</label>
      <input type="number" th:field="*{yearOfExp}" placeholder="N/A" style="border: none;width: 65%" class="ms-3">
      <div class="text-danger" th:if="${#fields.hasErrors('yearOfExp')}" th:errors="*{yearOfExp}"></div>
    </div>

    <div class="col-6 mt-3">
      <label >Recruiter <span style="color: red">*</span> </label>
      <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
      <select style="border: none;width: 65%;padding: 8px 0px;margin-left: 36px" >
        <option value="">Manager</option>
        <option value="">Recruiter</option>
      </select>
    </div>
    <div class="col-6 mt-3">
      <label >Highest level  <span style="color: red">*</span> </label>
      <select th:field="*{highestLevel}" style="border: none;width: 65%;padding: 8px 0px;margin-left: 44px" >
        <option th:each="level : ${T(fa.training.enums.HighestLevel).values()}"
                th:value="${level}"
                th:text="${level.displayName}">Level</option>
      </select>
      <div class="text-danger" th:if="${#fields.hasErrors('highestLevel')}" th:errors="*{highestLevel}"></div>
    </div>

    <div style="margin-top: 150px;margin-bottom: 50px" class="d-flex justify-content-center">
      <button class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600">Update</button>
      <a th:href="@{/candidates/list}" class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600">Cancel</a>
    </div>
  </form>
</main>
</body>
</html>
