<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/template::areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<main class="col-12 mt-5">
    <h2>Candidate List</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex">
            <input type="text" class="form-control search-input" placeholder="Search">
            <select class="form-control search-input">
                <option>Status</option>
            </select>
            <button class="btn btn-secondary btn-custom">Search</button>
        </div>
        <a href="/candidates/create" class="btn btn-primary">Add New</a>
    </div>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Current Position</th>
            <th>Owner HR</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.fullname}">Name</td>
            <td th:text="${candidate.email}">Email</td>
            <td th:text="${candidate.phone}">Phone No.</td>
            <td th:text="${candidate.position.displayName}">Current Position</td>
            <td>Owner HR</td> <!-- Replace with actual data if available -->
            <td th:text="${candidate.status.displayName}">Status</td>
            <td class="table-actions">
                <a th:href="@{/candidates/edit/{id}(id=${candidate.candidateId})}" class="btn btn-sm btn-warning">Edit</a>
                <a th:href="@{/candidates/delete/{id}(id=${candidate.candidateId})}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <span>10/60 rows</span>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</main>
</body>
</html>