<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/template::areas(~{::title},~{::main},@{/css/candidate.css},@{/js/candidate.js})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>
        .btn{
            font-weight: 600;
        }
    </style>
</head>
<body>
<main class="col-12 mt-5">
    <h4>Users list</h4>

    <div class="row">

        <div class="col-12 d-flex mb-3" style="justify-content: flex-end;">
            <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" th:href="@{/users/new}">
                <button class="btn" style="background: #e1dfdf;padding: 7px 30px;font-weight: 600">Add new</button>
            </a>
        </div>

    </div>
    <table class="table table-striped">
        <thead style="background: #EEF1DF">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td class="d-flex justify-content-center">
                <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" th:href="@{/users/edit/{id}(id=${user.userId})}" class="ms-2 me-2">
                    <i class="fa-solid fa-file-pen"></i>
                </a>

                <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')" th:href="@{/users/delete/{id}(id=${user.userId})}" onclick="return confirm('Are you sure you want to delete this candidate?');">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</main>
</body>
</html>