* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
form {
    width: 32%;
    margin: auto !important;
    padding: 50px !important;
    background: #eef1df;
    align-items: center;


;
}
input{
    width: 70%;
    border-radius: 5px;
    border: none;

}
.btn-reset-pass{
    background: #b9aaaa;
    border-radius: 3px;
    margin: 17px 0 0 130px !important;
    width: 20%;
}
/* input[type="submit"]{
    background-color: ;
}

input[type="submit"]:hover{
    color: ;
} */

input:focus{

    border: 1px solid blue;
    outline: none;
}
body{
    line-height: 30px;

}
h2 {
    text-align: center;
}
.error{
    margin-left: 130px;
    color: red;
}
