<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
<form th:action="@{/send}" method="post">

        <i class="fa-brands fa-dev"></i>
        <label>IMS Recruitment</label> <br>
    <label>Please enter your email </label><br>
          <label>  and we'll send you a link to get back your account</label><br>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <input type="submit" value="Send">
    <input type="reset" value="Cancel">

</form>

</body>
</html>