<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/reset/reset-password-done}" method="post" th:object="${reset}">
    <h1>Reset Password</h1>

    <p>Please set your new password</p>
    <div>
        <input type="hidden" name="token" th:field="*{token}">
        <label>Password</label>
        <input  type="text" name="newPass" th:field="*{newPass}"><br>
        <div class="error" th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}"></div>
        <small>Use at least one letter, one number, and seven characters</small>

    </div>

    <div>
        <label>Confirm Password</label>
        <input type="text" name="reNewPass" th:field="*{reNewPass}">
        <div class="error" th:if="${#fields.hasErrors('reNewPass')}" th:errors="*{reNewPass}"></div>
    </div>
    <input type="submit" value="Reset">
</form>
</body>
</html>