<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="">
    <h1>Reset Password</h1>
    <p>Please set your new password</p>
    <div>
        <label>Password</label>
        <input  type="text"><br>
        <small>Use at least one letter, one number, and seven characters</small>
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="text">
    </div>
    <input type="submit" value="Reset">
</form>
</body>
</html>