<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/template::areas(~{::title},~{::main},@{/css/job.css},@{/js/job.js})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>
        .btn{
            font-weight: 600;
        }
    </style>
</head>
<body>
<main class="col-12 mt-5">
    <h4>Job list</h4>
    <div class="row">
        <form th:action="@{/job/job-list}" class="formSearch" style="display: flex;padding: 0px" method="GET">
            <div class="col-4 input-group mb-3" style="width:33.33333333% ">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" name="keyword" th:value="${keyword}">
                <span class="input-group-text" id="basic-addon2" style="background: none; border-top:1px solid #ced4da;border-right:1px solid #ced4da;border-bottom:1px solid #ced4da;border-left:none  ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            </div>

            <div class="col-4 input-group mb-3" style="width:33.33333333% ">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Status</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3 d-flex">
                <button class="btn ms-5" style="background: #e1dfdf;font-weight: 600">Search</button>

            </div>

<!--            <div class="col-12 d-flex mb-3" style="justify-content: flex-end;">-->
<!--               -->
<!--            </div>-->
        </form>
        <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')"  th:href="@{/job/job-create}" style="display: flex;flex-direction:row-reverse;text-decoration: none">
            <button class="btn" style="background: #e1dfdf;padding: 7px 30px;font-weight: 600">Add new</button>
        </a>

    </div>
    <table class="table table-striped">
        <thead style="background: #EEF1DF">
            <tr>
                <th>Job Title</th>
                <th>Required Skills</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Level</th>
                <th>Status</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="job : ${jobDTOS}">
                <td th:text="${job.jobTitle}"></td>
                <td th:text="${#strings.arrayJoin(job.skillsDTO, ', ')}"></td>
                <td th:text="${job.startDate}"></td>
                <td th:text="${job.endDate}"></td>
                <td th:text="${#strings.arrayJoin(job.levelDTO, ', ')}"></td>
                <td th:text="${job.status}"></td>
                <td class="d-flex justify-content-center">
                    <a th:href="@{'/job/job-detail/' + ${job.jobId}}">
                        <i class="fa-regular fa-eye"></i>
                    </a>

                    <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')"  th:href="@{'/job/job-edit/' + ${job.jobId}}" class="ms-2 me-2">
                        <i class="fa-solid fa-file-pen"></i>
                    </a>

                    <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')"  th:href="@{'/job/job-delete/' + ${job.jobId}}" onclick="return confirmJob()">
                        <i class="fa-regular fa-trash-can" aria-hidden="true"></i>
                    </a>
                </td>

            </tr>
        </tbody>
        <div class="row">
            <nav class="d-flex justify-content-end align-items-baseline">
                <span th:text="${jobDTOS.numberOfElements * (jobDTOS.number+1) } + '/' + ${jobDTOS.totalElements} + ' rows'"></span>
                <ul class="pagination">
                    <!-- Previous button -->
                    <!--               -->
                    <li  th:if="${jobDTOS.hasPrevious()}" class="page-item p-0">
                        <a class="page-link border-0" th:href="@{job-list(page=${jobDTOS.getNumber()}, keyword=${param.keyword})}"><i class="fa-solid fa-chevron-left " style="color: #000000;"></i></a>
                    </li>

                    <!-- Next button -->
                    <!--                -->
                    <li th:if="${jobDTOS.hasNext()}" class="page-item p-0">
                        <a class="page-link border-0 " th:href="@{job-list(page=${jobDTOS.getNumber() + 2}, keyword=${param.keyword})}"><i class="fa-solid fa-chevron-right" style="color: #000000;"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </table>
</main>
<script>
    function confirmJob(){
        return confirm("Are you sure you want delete this job?")
    }
</script>
</body>
</html>