<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{layout/template::areas(~{::title},~{::main},@{/css/job.css},@{/js/job.js})}">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>

    </style>
</head>
<body>
<main class="col-12 mt-5 ">
    <h4>Job Create</h4>
    <form  style="background: #f1f6fb" class="pt-3 pb-3 row" th:object="${dto}">
        <div class="col-6 mt-3">
        <label >Job title <span style="color: red">*</span> </label>
        <input type="text" name="jobTitle" id="jobTitle" placeholder="Type a title" style="border: none;width: 75%" class="ms-5" th:field="*{jobTitle}" disabled>
        </div>
        <div class="col-6 ps-3 mt-3 skills-container">
            <div class="d-flex">
                <label  class="skills-label">Skills <span style="color: red">*</span> </label>
                <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
                <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 0px" multiple="multiple" id="skillsDTO" name="skillsDTO" class="skills-select" th:field="*{skillsDTO}" disabled>
                    <option th:value="Java">Java</option>
                    <option th:value="Nodejs">Nodejs</option>
                    <option th:value=".net">.net</option>
                    <option th:value="C">C++</option>
                    <option th:value="BusinessAnalysis">Business analysis</option>
                    <option th:value="Communication">Communication</option>


                </select>
            </div>

        </div>



        <div class="col-6 mt-3">
            <label >Start Date <span style="color: red">*</span> </label>
            <input type="date" name="startDate" id="startDate" placeholder="DD/MM/YYYY" style="border: none;width: 75%;margin-left: 30px" th:field="*{startDate}" disabled>
        </div>
        <div class="col-6 ps-3 mt-3">
            <label >End Date <span style="color: red">* </span> </label>
            <input type="date" name="endDate" id="endDate" placeholder="DD/MM/YYYY" style="border: none;width: 75%;margin-left: 11px" th:field="*{endDate}" disabled>


        </div>

        <div class="col-6 mt-3">
            <label >Salary Range</label>
            <label for="" class="ms-3 me-3">From</label>

            <input type="number" name="salaryFrom" id="salaryFrom" placeholder="" style="border: none;width: 15%" class="" th:field="*{salaryFrom}" disabled th:text="VND">
            <label class="ms-3">To</label>
            <input type="number" name="salaryTo" id="salaryTo" placeholder="" style="border: none;width: 15%;margin-left: 20px" th:field="*{salaryTo}" disabled th:text="VND">

        </div>
        <div class="col-6 mt-3 skills-container">
            <div class="d-flex">
                <label class="skills-label">Benefits <span style="color: red">*</span> </label>
                <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
                <select style="border: none;width: 75%;padding: 8px 0px" class="ms-4 skills-select" name="benefitDTO" id="benefitDTO" multiple="multiple" th:field="*{benefitDTO}" disabled>

                    <option th:value="Travel">Travel</option>
                    <option th:value="25LeaveOff">25 leave off</option>
                    <option th:value="HybridWorking">Hybrid working</option>
                    <option th:value="Lunch">Lunch</option>
                    <option th:value="HealthcareInsurance">Healthcare insurance</option>

                </select>
            </div>
        </div>

        <div class="col-6 mt-3">
            <label >Work Address</label>
            <input type="text" name="workingAddress" id="workingAddress" placeholder="Type a title" style="border: none;width: 75%;margin-left: 15px" th:field="*{workingAddress}" disabled>
        </div>
        <div class="col-6  mt-3 skills-container">
            <div class="d-flex">
                <label class="skills-label">Level <span style="color: red">*</span> </label>
                <!--            <input type="text" name="" id="" placeholder="Type a title" >-->
                <select style="border: none;width: 75%;padding: 8px 0px;margin-left: 50px" name="levelDTO" id="levelDTO" multiple="multiple" class="skills-select" th:field="*{levelDTO}" disabled>
                    <option th:value="Fresher">Fresher</option>
                    <option th:value="Junior">Junior</option>
                    <option th:value="Senior">Senior</option>
                    <option th:value="Leader">Leader</option>
                    <option th:value="Manager">Manager</option>
                    <option th:value="ViceHead">Vice Head</option>


                </select>
            </div>




        </div>

        <div class="col-6">
            <label >Status</label>
            <input type="text" name="status" id="status" placeholder="Type a title" style="border: none;width: 75%;margin-left: 15px" disabled th:field="*{status}">
        </div>
        <div class="col-6 mt-3 d-flex">
            <label style="">Description</label>
            <textarea placeholder="" cols="42" rows="4" style="border: none" class="ms-3" name="description" id="description" th:field="*{description}" disabled></textarea>
        </div>

        <div style="margin-top: 150px;margin-bottom: 50px" class="d-flex justify-content-center">
            <a sec:authorize="hasAnyAuthority('Admin', 'Recruiter', 'Manager')"  th:href="@{'/job/job-edit/' + ${dto.jobId}}">
                <button class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600" type="button">Edit</button>

            </a>
        <a th:href="@{/job/job-list}">
            <button class="btn ms-5 ps-4 pe-4" style="background: #e1dfdf;font-weight: 600" type="button">Cancel</button>

        </a>
        </div>
    </form>
</main>
</body>
</html>